---
http_interactions:
- request:
    method: get
    uri: https://inventory.data.gov/api/3/action/datastore_search?q=depaul&resource_id=38625c3d-5388-4c16-a30f-d105432553a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "https://inventory.data.gov/api/3/action/help_show?name=datastore_search",
        "success": true, "result": {"resource_id": "38625c3d-5388-4c16-a30f-d105432553a4",
        "fields": [{"type": "int4", "id": "_id"}, {"type": "numeric", "id": "UNITID"},
        {"type": "text", "id": "INSTNM"}, {"type": "text", "id": "ADDR"}, {"type":
        "text", "id": "CITY"}, {"type": "text", "id": "STABBR"}, {"type": "text",
        "id": "ZIP"}, {"type": "numeric", "id": "FIPS"}, {"type": "numeric", "id":
        "OBEREG"}, {"type": "text", "id": "CHFNM"}, {"type": "text", "id": "CHFTITLE"},
        {"type": "text", "id": "GENTELE"}, {"type": "text", "id": "FAXTELE"}, {"type":
        "numeric", "id": "EIN"}[...]
