---
http_interactions:
- request:
    method: get
    uri: https://inventory.data.gov/api/3/action/datastore_search?q=Child%20Care%20Provider/Assistant&resource_id=6d2a0324-5964-44c3-97be-061c0eb5fcc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "https://inventory.data.gov/api/3/action/help_show?name=datastore_search",
        "success": true, "result": {"resource_id": "6d2a0324-5964-44c3-97be-061c0eb5fcc9",
        "fields": [{"type": "int4", "id": "_id"}, {"type": "numeric", "id": "UNITID"},
        {"type": "numeric", "id": "CIPCODE"}, {"type": "text", "id": "PROGRAM_TITLE"},
        {"type": "numeric", "id": "COMPLETIONS_TOTAL"}, {"type": "text", "id": "DISTANCE_ED_PROGRAM"},
        {"type": "text", "id": "AWARD_LEVEL"}, {"type": "int8", "id": "_full_count"},
        {"type": "float4", "id": "rank"}], "q": "Child Care Provider/Assistant", "records":
        [{"DISTANCE_ED_PROGRAM": "No", "AWARD_LEVEL": "Degrees total", "UNITID": "117715",
        "rank": 0.211562, "CIPCODE": "19.0709", "_full_count": "2067", "COMPLETIONS_TOTAL":
        "12", "PROGRAM_TITLE": "Child Care Provider/Assistant", "_id": 35}, {"DISTANCE_ED_PROGRAM":
        "No", "AWARD_LEVEL": "Degrees/certificates total", "UNITID": "117715", "rank":
        0.211562, "CIPCODE": "19.0709", "_full_count": "2067", "COMPLETIONS_TOTAL":
        "12", "PROGRAM_TITLE": "Child Care Provider/Assistant", "_id": 36}, {"DISTANCE_ED_PROGRAM":
        "No", "AWARD_LEVEL": "Award of less than 1 academic year", "UNITID": "117724",
        "rank": 0.211562, "CIPCODE": "19.0709", "_full_count": "2067", "COMPLETIONS_TOTAL":
        "2", "PROGRA[...]
- request:
    method: get
    uri: https://inventory.data.gov/api/3/action/datastore_search?limit=20&offset=0&q=Child%20Care%20Provider/Assistant&resource_id=6d2a0324-5964-44c3-97be-061c0eb5fcc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "https://inventory.data.gov/api/3/action/help_show?na[...]
